main {
  display: grid;
  width: 100%;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

input {
  font-size: 26px;
  height: 3rem;
}

textarea {
  font-size: 1.5rem;
  height: 5rem;
}

h1,
h2 {
  font-size: 1.5rem;
  margin: 0;
}

dialog {
  border: none;
  border-radius: 0.2rem;
}

dialog.success {
  background: green;
}

dialog.error {
  background: rgb(243, 9, 9);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-row {
  display: flex;
  gap: 0.5rem;
}

.nav-row button {
  width: 100%;
}

.nav-shifts {
  margin-block-end: 0.5rem;
}

.month-list {
  display: flex;
  gap: 0.5rem;
}

.meter-prompt {
  border-radius: 0.2rem;
  background-color: rgb(21, 175, 7);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button.active {
  background-color: rgb(175, 7, 125);
}

.loader {
  border: 4px solid rgba(253, 147, 98, 0.1);
  border-left-color: rgb(175, 7, 125);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  animation: spin-full 1s linear infinite;
}

@keyframes spin-full {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0.5rem;
}

li .edit-code {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-meters-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-jc-sb-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-btns {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 0.5rem;
  margin: auto;
}
th,
td {
  background-color: #007b7b;
}

table {
  width: 100%;
}
